.container {
  padding: 3em;
  margin: 3em;
  display: flex;
  justify-content: space-around;
  background: aquamarine;
}
.card {
  height: 200px;
  min-width: 200px;
  padding: 3em;
  text-align: center;
}
.card_title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1em;
}
.card_subtitle {
  font-size: 1rem;
  font-weight: 300;
}
.card_count {
  font-size: 2rem;
  font-weight: 900;
}
.card_confirmed {
  background: skyblue;
  border-bottom: 10px solid blue;
}
.card_recovered {
  background: yellowgreen;
  border-bottom: 10px solid green;
}
.card_deaths {
  background: lightcoral;
  border-bottom: 10px solid red;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .card {
    margin-top: 1em;
  }
}
